<ul>
<li>
  <%= link_to 'Edit', month_path(user_id: current_user.id, month: @now.strftime('%B'), year: @now.year) %>
    your individual workout log (month-by-month view)
</li>

<% if current_user.teams.present? %>
  <% if current_user.teams.size > 1 %>
  <li>
    <%= link_to 'View', team_week_path(team_id: 'all', date: 'now') %> all your teams at once
  </li>
  <li>
    View an individual team:
    <ul>
      <% current_user.teams.each do |team| %>
        <li>
          <%= link_to team.name, team_week_path(team_id: team.id, date: 'now') %>
          (<%= leave_team_link(team, 'unregister') %>)
        </li>
      <% end %>
    </ul>
  </li>
  <% else %>
  <li>
    You're a member of <%= current_user.teams.first.name %>. You can:
    <ul>
      <li>
        <%= link_to 'View', team_week_path(team_id: current_user.teams.first.id, date: 'now') %>
        your entire team's workout log (week-by-week view)
      </li>
      <li>
        <%= leave_team_link(current_user.teams.first, 'Unregister') %> from your team
      </li>
    </ul>
  </li>
  <% end %>
<% end %>
<li>
  <%= link_to 'Create', new_team_path %> a new team
</li>

<li>
  <%= link_to 'Join', new_team_membership_path %> an existing team
</li>

<li>
  <%= link_to 'Update', edit_user_registration_path %> your account info
</li>
