<td class="<%= day.try(:third) %>">
  <% if day %>
    <% if show_day_num %>
      <span class="dayOfMonth"><%= day.first.day %></span>
    <% end %>
    <%= day.second.try(:html_safe) %>
    <% if editable && day.second %>
      <%= link_to 'Edit', edit_log_entry_path(year: day.first.year, month: day.first.month,
        day: day.first.day) %>
      <%= link_to 'Delete', delete_log_entry_path(year: day.first.year, month: day.first.month,
        day: day.first.day), method: :delete, data: { confirm: "Are you sure?" } %>
    <% elsif editable %>
      <%= link_to 'Create entry', new_log_entry_path(year: day.first.year,
        month: day.first.month, day: day.first.day) %>
    <% end %>
  <% else %>
    &nbsp;
  <% end %>
</td>
