<h3><%= @date.strftime('%A, %B %-d, %Y') %></h3>

<p>
  Note: You can use many common HTML tags (e.g. &lt;img&gt;, &lt;a&gt;, &lt;p&gt;, and &lt;li&gt;) in your entry.<br />
  You must nest tags properly.<br />
  Certain tags (e.g. &lt;script&gt; and &lt;table&gt;) are prohibited.
</p>

<%= form_with model: @entry do |f| %>
  <%= f.hidden_field_tag(:year, @date.year) %>
  <%= f.hidden_field_tag(:month, @date.month) %>
  <%= f.hidden_field_tag(:day, @date.day) %>
  <p><%= f.text_area_tag(:details, @entry.details, size: '40x20', autofocus: true) %></p>
  <p><%= f.submit (@entry.id ? 'Update' : 'Create') %></p>
<% end %>
